@import "tailwindcss" important;

body{
  @apply bg-gray-100;
}
button{
  cursor: pointer;
}

.select-form__control{
  border: none !important;
}
.select-form__indicator{
  display: none !important;
}

.select-form__indicator-separator{
 display: none !important;
}
.select-form__placeholder{
  @apply text-red-500;
  color: theme('colors.red.500') !important;
}

